<footer >
  <div class="footer--content margin mx-auto center col-12 sm-col-6 py4">
    {% include svg/ATI_w.svg %}
    <h2>subscribe</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    {% include /subscribe/form.html %}
  </div>
  <div class="footer-bp clearfix container py1">
    <div class="left">
      <p class="left">A project of <a href="http://www.rachelrader.com/">Rachel Rader ©</a></p>
      <a class="left border-left" href="#">Privacy</a>
      <a class="left border-left" href="#">Legal</a>
    </div>
    <div class="right">
      <p>Built with 🖤 by <a href="http://www.danrdesign.com/">Dan Rader</a></p>
    </div>
  </div>
</footer>
