<header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="{{ site.baseurl }}/" class="brand-logo"><img src="{{ site.logo }}"></a>
          <ul class="right hide-on-med-and-down">

             {% assign current = page.url | downcase | split: '/' %}

                  <li class="{% if current contains 'coaching' %}active {% endif %}nav-links"><a href='/artifacts'>Artifacts</a></li>
                  <li class="{% if current contains 'moneycircle' %}active {% endif %}nav-links"><a href='/sightings'>Sightings</a></li>
                  <li class="{% if current contains 'blog' %}active {% endif %}nav-links"><a href='/log-book'>Log Book</a></li>
                  <li class="{% if current contains 'shop' %}active {% endif %}nav-links"><a href='/shop'>Shop</a></li>

            <li class="nav-links"> <a href="#contact-footer">Cart</a></li>
           <li><button data-target="modal-subscribe" class="subscribe-btn modal-trigger">Subscribe</button>
           </li>
          </ul>

        </div>
      </nav>
    </div>
</header>
