<nav class="relative">
  <div class="nav-wrapper fixed top-0 left-0 right-0 p2 z2 bg-white">
    <a href="{{ site.baseurl }}/" class="brand-logo">{% include svg/ATI_b.svg %}</a>
    <ul class="list-reset">

       {% assign current = page.url | downcase | split: '/' %}

            <li class=" block left left {% if current contains 'coaching' %}active {% endif %}nav-links"><a href='/artifacts'>Artifacts</a></li>
            <li class=" block left {% if current contains 'moneycircle' %}active {% endif %}nav-links"><a href='/sightings'>Sightings</a></li>
            <li class=" block left {% if current contains 'blog' %}active {% endif %}nav-links"><a href='/log-book'>Log Book</a></li>
            <li class=" block left {% if current contains 'shop' %}active {% endif %}nav-links"><a href='/shop'>Shop</a></li>
      <div class="right">
        <li class="left nav-links"> <a href="#contact-footer">Cart</a></li>
       <li class="left"><button data-target="modal-subscribe" class="subscribe-btn modal-trigger">Subscribe</button>
      </div>

     </li>
    </ul>

  </div>
</nav>
