<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
  $('.slider').slick({
    dots: false,
    infinite: true,
    speed: 600,
    slidesToShow: 1,
    arrows: false,
    asNavFor: null,
    cssEase: 'ease-in-out',
    responsive: [
      {
        breakpoint: 736,
        settings: {
          arrows: false,
        }
      },
    ]
});
});
</script>

<!-- Smooth scrolling on anchor links. effects any link with a hashtag -->
<script type="text/javascript">
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 500, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});
</script>


<!-- modal initiation -->
<script type="text/javascript">
$(document).ready(function(){
  $('.modal-trigger').leanModal();
});
</script>
