.btn-prime {
  position: relative;
  display: inline-block;
  background-color: black;
  transform-style: preserve-3d;
  border: 1px solid black;
  margin: auto;
  cursor: pointer;
  transition: $transition-1;
  padding: .8rem 2rem !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  color: white;
  border-radius: 0;
  font-family: 'Cutive Mono', "Courier New", Courier, monospace;

  &:focus {
      outline: none;
  }

  &:before {
    content:"";
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: -5px;
    transform: translateZ(-1em);
    transition: $transition-1;
  }
  &:hover {
    transform: translateX(-2.5px) translateY(2.5px);
  }
  &:hover:before {
    transform: translateX(4px) translateY(-4px) translateZ(-1em);
  }
  & a:visited {
      color: white;
  }
  & p {
    padding: 6px 30px;
    color: white;
    font-size: 12px;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  & input {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 12px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Cutive Mono', "Courier New", Courier, monospace;
    cursor: pointer;
  }
  &:visited {
      color: white;
  }
}

.btn-nav {
  margin-top: -7px;
  margin-left: 6px;
  padding: 7px 18px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  border: 1px solid $ati-green;
  color: black;
  font-family: 'Cutive Mono', "Courier New", Courier, monospace;
  background-color: transparent;

  &:focus {
      outline: none;
  }
}
