$maggie-green: #00BDB2;
$maggie-green-light: #12dcd0;
$maggie-gold: #B59661;
$maggie-green-dark: #09736a;
$blue-grey: #f6f9fc;
$darkest-grey: #2c2c2c;
$grey: #575757;
$mid-grey: #8f8f8f;
$white: #fff;
$light-grey: #cacaca;

.bg-white  { background-color: $white }
