$tablet: 40em;

$xl: 1400px;
$l: 52em;

$media-max-tablet: "screen and (max-width: #{$tablet})";
$media-max-l: "screen and (max-width: #{$l})";
$media-min-xl: "screen and (min-width: #{$xl})";
// @media #{$media-max-tablet}{}
// @media #{$media-max-l}{}
// @media #{$media-min-xl}{}
