.post--hero {
  text-align: center;
  padding: 0% 2% 0 2%;
  & h1 {
    position: relative;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 13px;
    line-height: 21px;
    text-transform: uppercase;
    padding-bottom: 3%;
    margin-bottom: 5%;
    &::after{
      content: "";
      width: 100px;
      height: 4px;
      background-color: $ati-green;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      margin: auto;
      opacity: .7;
    }
  }
}
.post--hero__image, .post--heroVideo__image{
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
  box-shadow: inset 0 -26px 106px -27px rgba(0, 0, 0, 0.85);
}
.post--hero__image {
    height: 60vh;
}
.post--heroVideo__image {
    height: 75vh;
}

.post__content {
  padding: 32px 40px;
  margin-top: -10vh;
  background-color: $paper-tan;

  @media #{$media-max-tablet}{
    padding: 32px 30px;
  }

  & h1 {
    color: black;
    font-weight: 100;
    font-size: 22px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid black;
    display: inline;
  }
  & .blog-highlight-date {
    top: -27px;
  }
  & img {
    margin: 2rem 0;
    border: 13px solid white;
    border-radius: 2px;
    box-shadow: 3px 8px 43px -12px rgba(0, 0, 0, 0.19);
    transition: .2s;
    display: block;
    box-sizing: border-box;

    @media #{$media-max-tablet}{
        border: 10px solid white;
        margin: 1rem 0;
    }

    &:nth-child(odd) {
      margin-left: -32px;
      transform: rotate(-1deg);
      @media #{$media-max-l} {
        margin-left: 0;
      }
      @media #{$media-max-tablet}{
          transform: none;
      }
    }
    &:nth-child(even) {
      margin-left: 12px;
      transform: rotate(.5deg);
      @media #{$media-max-l} {
        margin-left: 0;
      }
      @media #{$media-max-tablet}{
          transform: none;
      }
    }
  }

  & a {
    font-weight: 900;
    border-bottom: 1px;
    color: #4848b9;
    text-decoration: underline;
    transition: $transition-1;

    &:hover {
        color: #6f6ffb;
    }
  }
}

.post--author {
    display: grid;
    grid-template-columns: 1fr 3fr;


    @media #{$media-max-tablet}{
        grid-template-columns: 1fr;
        text-align: center;
        padding-bottom: 1rem;

        .post--author__avatar-wrap {
            margin: auto;
            margin-bottom: 1.5rem;
        }

        & div {
            float: none;
        }
    }
}

.post--author__avatar-wrap {
  position: relative;
  width: 100px;
  height: 100px;
  transform-origin: center;
  transform: rotate(-45deg);
  overflow: hidden;
  border: 6px solid white;
  box-shadow: $shadow-3;
  margin-right: 4rem;
  & .post--author__avatar {
    height: 150%;
    width: 150%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    top: -22%;
    left: -28%;
    transform-origin: center;
    transform: rotate(45deg);
    margin-left: 0 !important;
    border: none;
  }
}
.author-name {
  & p {
    line-height: 21px;
    max-width: 308px;
    margin: 0 auto 1rem;
  }
  & h3 {
    font-size: 29px;
    line-height: 47px;
  }
}

.post__content--related {
    padding-bottom: 6rem;

    @media #{$media-max-tablet}{
       padding-bottom: 1rem;
    }

      & h2 {
        font-size: 29px;
        line-height: 47px;
        font-weight: 100;
      }
    }
