.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.product--list {
    display: inline-block;
    vertical-align: top;
}

.product--list__image {
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
    min-height: 18rem;
  }

  .product-image {
    & img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }

.product--slider__wrap {
  height: 38rem;
  & > div {
    min-height: 100%;
  }
}

.product-image-link {
  min-height: 5px;
}

.product--YAML h2 {
    font-weight: 800;
    font-size: 16px;
    margin: 0;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}




// filter
