
.sightings--list__title {
    margin-top: 14px;

      & h2 {
          color: white;
          line-height: 2.7rem;
          font-size: 2.1rem;
          font-weight: 100;
          background: black;
          padding: 10px 0 10px 0;
          display: inline;
          word-wrap: break-word;
          box-shadow: 10px 0 0 black, -10px 0 0 black
      }

      &:hover {
          & .sightings--list__category {
              background-color: $ati-green;
              border-color: $ati-green;
              transform: translateY(1px);
              & p {
                  color: white;
              }

          }
      }

      .sightings--list__category {
            border: 1px solid black;
            display: inline-flex;
            align-items: center;
            padding: 0px 10px 0 12px;
            margin: 6px 0 0 -10px;
            transition: $transition-1;

            & p {
                display: inline;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 13px;
                margin-bottom: 0;
                transition: $transition-1;
                color: black;
            }
      }
}

.sightings--list__desc {
    padding-left: 2rem;

      & h3 {
          margin-bottom: 0.5rem;
          font-size: 24px;
          font-weight: 700;
      }
      & p {
          margin-bottom: 0.5rem;
      }
      & .btn-prime {
          margin-top: 0.5rem;
      }

      @media #{$media-max-l}{
          padding-left: 0;
          padding-top: 2rem;
      }
}

.sighting-empty {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
