.team__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.rachel--image {
    border: 13px solid white;
    border-radius: 2px;
    box-shadow: 3px 8px 43px -12px rgba(0, 0, 0, 0.19);
    transition: .2s;
    display: block;
    min-height: 85vh;
}

.team {

    & p {
        font-size: 15px;
        line-height: 22px;
    }

    & h3 {
        font-size: 1.2rem;
        line-height: 1;
    }

    & .team--image {
        border: 11px solid white;
        border-radius: 2px;
        box-shadow: 3px 8px 43px -12px rgba(0, 0, 0, 0.29);
        display: block;
        height: 80vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 1.25rem;
    }
}

.rachel {
    & h1 {
        line-height: 51px;
        letter-spacing: 14px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 58px;
    }
    & .team-title {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 3px;
        font-weight: 700;
    }
}

.team-details {
    & h2 {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
        font-size: 20px;
    }
}
