.team__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    @media (max-width: 40em) {
    margin-top: 0;
    }
}

.rachel--image {
    border: 13px solid white;
    border-radius: 2px;
    box-shadow: 3px 8px 43px -12px rgba(0, 0, 0, 0.19);
    transition: .2s;
    display: block;
    min-height: 85vh;
    margin-bottom: 4rem;
    @media (max-width: 40em) {
        min-height: 35vh;
        background-position: 50% 33%;
        margin-bottom: 0;
        border: 8px solid white;
    }
}

.team {
    margin-bottom: 4rem;

    & p {
        font-size: 15px;
        line-height: 22px;
    }

    & h3 {
        font-size: 1.2rem;
        line-height: 1;
    }

    @media (max-width: 40em) {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    & .team--image {
        border: 11px solid white;
        border-radius: 2px;
        box-shadow: 3px 8px 43px -12px rgba(0, 0, 0, 0.29);
        display: block;
        height: 80vh;
        background-position: center;
        background-size: cover;
        margin-bottom: 1.25rem;

        @media (max-width: 831px) {
            border: 8px solid white;
            height: 35vh;
            background-position: 50% 33%;
        }

        @media (max-width: 40em) {
            height: 25vh;
            margin-bottom: 1rem;
        }
    }
}

.rachel {
    & h1 {
        line-height: 51px;
        letter-spacing: 14px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 58px;

        @media #{$media-max-tablet}{
            font-size: 52px;
            line-height: 45px;
        }
    }

    & .team-title {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 3px;
        font-weight: 700;
    }

    @media (max-width: 40em) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.team-details {
    & h2 {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
        font-size: 20px;
    }
}

.team-desc {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media #{$media-max-tablet}{
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
}
