<button class="snipcart-add-item"
    data-item-name="{{ product.visible-title }}"
    data-item-id="{{ product.title }}"
    data-item-image="{{ site.url }}{{ first-image }}"
    data-item-url="{{ site.url }}{{ product.url }}"
    data-item-max-quantity="{{ product.max-quantity }}"
    data-item-price="{{ product.price }}"
    data-item-width="{{ product.weight | ceil }}"
    data-item-height="{{ product.width | ceil }}"
    data-item-weight="{{ product.height | ceil }}"
    >
    add to cart
</button>