<!-- Categories -->

    {% capture prod_categories %}
        {% for product in site.products %}
              {% for category in product.categories %}
                  {{ category }}
              {% endfor %}
        {% endfor %}
    {% endcapture %}
    {% assign downcase_cat = prod_categories | downcase %}
    {% assign uniq_cat = downcase_cat | split: " " | uniq %}

<div id="accordion-group">
    <input type="checkbox" id="filter-list" class="hidden"/>
    <label for="filter-list" class="filter-open">Shop by Category {% include /svg/accord_arrow.svg %}</label>
    <div class="filters">
      {% comment %}  <div id="accordion-group">
              <input id="ac-3" name="accordion-1" type="checkbox" checked/>
              <label class="first-label" for="ac-3">Categories {% include /svg/accord_arrow.svg %}</label>
              <article class="ac-small">
                  <ul class="filter_list">
                      {% for cat in uniq_cat  %}
                      <button type="button" data-filter=".{{ cat }}">{{ cat }}</button>
                      {% endfor %}
                      <button type="button" data-filter="all">All</button>
                  </ul>
              </article>
        </div>
        {% endcomment %}

    <!-- Elements -->
        <div id="accordion-group">
              <input id="ac-1" name="accordion-1" type="checkbox" checked/>
              <label for="ac-1">Designs {% include /svg/accord_arrow.svg %}</label>
              <article class="ac-small">
                  <ul class="filter_list">
                      <button type="button" data-filter="all">All</button>
                      {% assign element_sort = site.designs | sort:"position" %}
                      {% for element in element_sort %}
                          <button type="button" data-filter=".{{ element.title | downcase | remove: " " }}">{{ element.title }}</button>
                      {% endfor %}
                  </ul>
              </article>
        </div>

        <!-- Colors -->
        <div id="accordion-group">
            <input id="ac-2" name="accordion-2" type="checkbox" checked/>
            <label for="ac-2">Colors {% include /svg/accord_arrow.svg %}</label>
            <article class="ac-small2">
                <ul class="color-filter_list">
                    {% assign color_sort = site.product-colors %}
                    {% for color in color_sort  %}
                        <button type="button" data-filter=".{{ color.title | downcase }}" class="color-filter" style="background-color: {{ color.color }};">{{ color.title }}</button>
                    {% endfor %}
                </ul>
            </article>
        </div>

        <button type="button" class="btn-mini modal__trigger filter-btn" data-modal="return--modal">Return Policy</button>

    </div>
</div>

<!-- Contact Us
div
<a href="mailto:ibelieve@ancienttruthinvestigators.com">Contact</a>  -->
