footer {
  position: relative;
  background-color: #4A4A4A;
  color: white;
  z-index: 99;
}
.footer--content {
    overflow: hidden;
  & h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 18px;
    font-weight: 100;
    padding: 2% 0 0 0;
  }
  & p {
    color: white;
    padding-bottom: 4%;
  }
}
.footer-bp {
  padding: 0 16px;
  & p,a {
  font-size: 12px;
  line-height: 12px;
  color: #bfbfbf !important;
}
}
.border-left {
border-left: 1px solid white;
padding-left: 10px;
margin-left: 10px;
}

.mc-field-group {
  width: 70%;
  max-width: 380px;
  min-width: 270px;
  position: relative;
  margin: 0 auto 25px auto;
  & input {
    position: relative;
    border: 1px solid white;
    background-color: $darkest-grey;
    color: white;
    width: 100%;
    height: 48px;
    transition: $transition-1;
    &:focus {
      outline: none;
      border: 1px solid $ati-green;
    }
    &:focus ~ label {
      color:  rgba(255, 255, 255, 1);;
      letter-spacing: 7px;
    }
  }
  & label {
    position: absolute;
    top: -7px;
    left: 20px;
    z-index: 2;
    background-color: #4A4A4A;
    padding: 0 5px 0 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 14px;
    transition: $transition-1;
    color: rgba(255, 255, 255, .7);
  }
}


.before-n-after {
  &:before, &:after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: white;
  }
}
