.page--hero {
  width: 78vw;
  height: 54vh;
  right: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.page--hero__title {
  position: absolute;
  left: -5%;
  bottom: -38px;
  padding: .6% 2% 1.2% 2%;
  transform: rotate(-90deg);
  transform-origin: left;
  & h1 {
    color: black;
    font-weight: 100;
    font-size: 51px;
    line-height: 51px;
    &:before {
      content: "";
      width: 97%;
      height: 9px;
      background-color: #BCD422;
      position: absolute;
      bottom: 29px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
      opacity: .7;
    }
  }
}
