/* The Modal (background) */



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.contact--modal__active {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6rem auto;
    padding: 5%;
    min-height: 300px;
    border-radius: 4px;
    position: relative;
    max-width: 35rem;

    & h1 {
        font-size: 46px;
        letter-spacing: -1px;
        margin-bottom: .5rem;
    }
    & p {
        line-height: 22px;
    }

    & .color-bar {
        background-color: $ati-green;
        height: 8px;
        width: 100%;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    top: 21px;
    right: 21px;
    transition: $transition-1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact-form {
    margin-top: 2rem;
    text-align: center;

    & input, & textarea {
        width: 100%;
        height: 44px;
        margin-bottom: 16px;
        border: 1px solid lightgrey;
        font-family: 'Cutive Mono', monospace;
        font-size: 15px;
        padding-left: 16px;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    & textarea {
        height: 120px;
        padding-top: 16px;
    }

    & .submit {
        width: inherit;
        margin-bottom: 0;
        font-size: 12px;
        margin-top: .5rem;
    }
}
