---
layout: default
---

<div class="artifact--wrap">
    <div class="artifact-slider">
        {% for image in page.images %}
          <div class=" artifact--image cover" style="background-image: url('{{ image }}');">
          </div>
            {% if product.tags.last %}
                <div class="next-button">
                </div>
            {% endif %}
          {% endfor %}
    </div>

    <section class="artifact--detail">
        <h2>{{ page.title }}</h2>
        <p>{{ content }}</p>
        <div class="artifact--detail__specs">
            <p><span>size:</span> {{ page.size }}</p>
            <p><span>material:</span> {{ page.material }}</p>
            <p><span>created:</span> {{ page.creation-date | date: "%Y" }}</p>
        </div>
        <div class="artifact-number">
            <p>Artifact no.{{ page.catalogue-number }}</p>
        </div>
    </section>
</div>





<script type="text/javascript">
          $(document).ready(function(){
          $('.artifact-slider').slick({
            dots: false,
            infinite: false,
            speed: 600,
            slidesToShow: 1,
            arrows: true,
            asNavFor: null,
            lazyLoad: 'ondemand',
            prevArrow: '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
            nextArrow: '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
            adaptiveHeight: true,
            cssEase: 'ease-in-out',
            responsive: [
              {
                breakpoint: 736,
                settings: {
                  arrows: false,
                }
              },
            ]
        });
        });
</script>
