---
layout: default
---

<div class="mx-auto max-width-4 clearfix px2">
    <div class="artifact--list__wrap">
        {% assign artifact-sort = site.artifacts | sort:"position"  %}
        {% for artifact in artifact-sort %}
        <div class="artifact--list px1 pb2 col-12 sm-col sm-col-6 lg-col-4">
            <a href="{{ artifact.url }}">
                {% assign first-image = artifact.images | first %}
                <div class="artifact--list__image " style="background-image: url({{ first-image }});"></div>
                <p>{{ artifact.title }}</p>
            </a>
        </div>
        {% endfor %}
        <div class="gap artifact--list col sm-col-6 lg-col-4 "></div>
        <div class="gap artifact--list col sm-col-6 lg-col-4 "></div>
        <div class="gap artifact--list col sm-col-6 lg-col-4 "></div>
    </div>
</div>
