---
layout: default-ClearNav
---

    <div class="home--wrapper mx-auto ">
        {% assign image_sort = site.home-images | sort:"position"  %}

        <!-- image  -->
        <div class="home--innerWrapper">
            <div class="hero-slider_image">
                {% for image in image_sort %}
                <div class="home--imageCarousel_image overflow-hidden">
                    <div class="cover home-image" style="background-image: url({{ image.image }});">

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- content -->
        <div class="home--content" draggable="false">
            <div class="max-width-3 mx-auto center">
                {% include svg/ATI_w.svg %}
                <h1 class="baffle-loader">Ancient Truth Investigators</h1>
                <p class="baffle-loader-home">{{ page.lede }}</p>
            </div>
        </div>

        <!-- texture  -->

        <div class="home--texture_wrap hero-slider_texture xs-hide">
            {% for image in image_sort %}
            <div class="home--texture_innerwrapper">
                <div class="absolute home--texture1">
                    <img src="{{ image.texture-image }}" alt="">
                </div>
                <div class="absolute home--texture2">
                    <img src="{{ image.texture-image }}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
