---
layout: default
---

<div class="post--hero relative">
    <button type="button" name="play" class="action--play play-button">{% include /svg/playButton.svg %}</button>
    <div class="post--heroVideo__image relative" style="background-image: url('{{ page.image }}');">
    </div>
</div>
{% include components/video-player.html %}

<div class="post__content max-width-2 mx-auto relative">
  <div class="blog-highlight-date">
    <p>Entry No. {{ page.entry-number }} // {{ page.date | date: "%m.%d.%y" }}</p>
  </div>
  <div class="mb2">
      <h1>{{ page.title }}</h1>
  </div>
  {{ content }}
  {% include components/author-name.html %}
</div>

<section class="post__content--related max-width-4 clearfix mx-auto" >
  <hr class="">
  <h2 class="center py4">Recent Entries</h2>

  <div class="">
    {% for post in site.entries limit:3 %}
      <div class="sm-col sm-col-12 md-col-4 lg-col-4 px2 mb3 list-item ">
        <a href="{{ post.url | prepend: site.baseurl }}">
         <section class="blog-list-item">
           <div class="blog-list-image cover relative" style="background-image: url('{{ post.image }}');">
             <div class="blog-list-date absolute">
               {{ post.date | date: "%m.%d.%y" }}
             </div>
           </div>
           <div class="blog-list-content">
             <p>Entry No. {{ post.entry-number }} </p>
             <h3>{{ post.title }}</h3>
           </div>
         </section>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
