---
layout: default
---

{% if page.video %}
    <div class="post--hero relative">
        <button type="button" name="play" class="action--play play-button">{% include /svg/playButton.svg %}</button>
        <div class="post--heroVideo__image relative" style="background-image: url('{{ page.image }}');">
        </div>
    </div>
    {% include components/video-player.html %}
{% else %}
    <div class="post--hero relative">
        <div class="post--hero__image relative" style="background-image: url('{{ page.image }}');"></div>
    </div>
{% endif %}

<div class="post__content max-width-2 mx-auto relative">
  <div class="blog-highlight-date">
    <p>Entry No. {{ page.entry-number }} // {{ page.date | date: "%m.%d.%y" }}</p>
  </div>
  <div class="mb2">
      <h1>{{ page.title }}</h1>
  </div>
  {{ content }}
  {% include components/author-name.html %}
</div>

<section class="post__content--related max-width-4 clearfix mx-auto" >
  <hr class="">
  <h2 class="center py4">Recent Entries</h2>

  {% for post in page.entries limit:3 %}
    {% assign post-title = post | downcase %}
      {% for site-post in site.entries %}
        {% assign site-post-title = site-post.title | downcase %}
            {% if post-title == site-post-title  %}
            <div class="sm-col sm-col-12 md-col-4 lg-col-4 px2 mb3 list-item ">
              <a href="{{ site-post.url | prepend: site.baseurl }}">
               <section class="blog-list-item">
                 <div class="blog-list-image cover relative" style="background-image: url('{{ site-post.image }}');">
                   <div class="blog-list-date absolute">
                     {{ site-post.date | date: "%m.%d.%y" }}
                   </div>
                 </div>
                 <div class="blog-list-content">
                   <p>Entry No. {{ site-post.entry-number }} </p>
                   <h3>{{ site-post.title }}</h3>
                 </div>
               </section>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

</section>
