---
layout: default
---

<!-- blog feature header -->

<div class="mx-auto max-width-4 clearfix py2">
  {% for post in site.entries limit: 1 %}
  <div class="col col-9 video-wrap overflow-hidden">
    <h1>{{ page.title }}</h1>
      <div class="blog-highlight">
        <div class="">
          <p>Entry No. {{ post.entry-number }} // {{ post.date | date: "%m.%d.%Y" }}</p>
        </div>
          <h2> {{ post.title }}</h2>
          <p> {{ post.summary }}</p>
        <a href="#">Read On</a>
      </div>
    {% endfor %}
  </div>

<!-- blog list  -->

  <div class="">
    {% for post in site.entries offset: 1 %}
      <div class="col col-4 list-item">
        <a href="{{ post.url | prepend: site.baseurl }}">
         <section class="blog-list-item">
           <div class="blog-list-image cover" style="background-image: url('{{ post.image }}');">
           </div>
           <div class=" black">
             {{ post.date | date: "%m.%d.%Y" }}
           </div>
           <div class="blog-list-content">
             <p>Entry No. {{ post.entry-number }} </p>
             <h3>{{ post.title }}</h3>
           </div>
         </section>
        </a>
      </div>
    {% endfor %}
  </div>

</div>
