---
layout: default
---

<div class="product">
  <a class="product" href="{{ product.url }}">
    <img src="{{ page.image }}" alt="{{ product.title }}" class="thumbnail"/>
    <p>{{ product.title }}</p>
  </a>

  <button class="snipcart-add-item"
    data-item-name="{{ page.title }}"
    data-item-id="{{ page.sku }}"
    data-item-image="{{ page.image }}"
    data-item-url="{{ site.url }}{{page.url }}"
    data-item-price="{{ page.price }}">
    Buy it for {{ product.price }} $
  </button>
</div>
