---
layout: default
---

{% include components/hero.html %}

<div class="mx-auto max-width-4 shop-list-wrap">
    <div class="clearfix">

        <div class="col col-12 sm-col-4 md-col-3 lg-col-3 product-filter ">
            {% include components/filter.html %}
        </div>

        <div class="col col-12 sm-col-8 md-col-9 lg-col-9 px2 product-wrap">
            <div class="product-container">
                {% assign product-sort = site.products | sort:"position"  %}
                {% for product in product-sort %}
                    <div class="product--list px1 pb2 col col-12 sm-col-6 md-col-6 lg-col-4 mix  {{ product.elements | downcase | remove: " " }} {{ product.product-colors | downcase }} {{ product.categories | downcase | remove: '[' | remove: ']' | remove: '' | remove: ',' }}">

                      <a href="{{ product.url }}">
                        {% assign first-image = product.product-images | first %}
                        <div class="product--list__image" style="background-image: url({{ first-image }});"></div>
                        <p>{{ product.visible-title }}</p>
                        </a>
                      <button class="snipcart-add-item"
                        data-item-name="{{ product.visible-title }}"
                        data-item-id="{{ product.title }}"
                        data-item-image="{{ site.url }}{{ first-image }}"
                        data-item-url="{{ site.url }}{{ product.url }}"
                        data-item-max-quantity="{{ product.max-quantity }}"
                        data-item-price="{{ product.price }}"
                        data-item-weight="{{ product.weight }}">
                        add to cart
                      </button>
                    </div>
                {% endfor %}

                <div class="gap product--list col sm-col-6 lg-col-4 "></div>
                <div class="gap product--list col sm-col-6 lg-col-4 "></div>
                <div class="gap product--list col sm-col-6 lg-col-4 "></div>
            </div>
        </div>
    </div>
</div>

{% include components/popup-contact.html %}

<script src="/js/mixitup.min.js"></script>

<script>
    var containerEl = document.querySelector('.product-container');
    var mixer = mixitup(containerEl);
</script>
