---
layout: default
---

<div class="mx-auto max-width-4 clearfix shop-list-wrap px2">
  <div class="pb3 clearfix ">
    <div class="col col-12 sm-col-6 slider-wrap">

            {% include components/shop--productSlider.html %}

  </div>

    <div class="product__desc col col-12 sm-col-6 px2">
      <h1>{{ page.visible-title }}</h1>
      <section class="pricing my2">
          <p class="product__price">${{ page.price }}</p>
          <p class="product__sub-text">Plus Shipping</p>
      </section>
      {{ content }}
        <section class="product_details mb3">
            <h2>Details</h2>
            <p><span>Size: </span>{{ page.width }} {% if page.height %}x {{ page.height }} {% endif %}</p>
            <p><span>Materials: </span>{{ page.materials }}</p>
        </section>

        {% assign first-image = page.product-images | first %}
        <button
            class="btn-prime snipcart-add-item"
            data-item-name="{{ page.visible-title }}"
            data-item-id="{{ page.title }}"
            data-item-image="{{ site.url }}{{ first-image }}"
            data-item-url="{{ site.url }}{{ page.url }}"
            data-item-max-quantity="{{ page.max-quantity }}"
            data-item-price="{{ page.price }}"
            data-item-width="{{ page.width | ceil }}"
            data-item-height="{{ page.height | ceil }}"
            data-item-weight="{{ page.weight | ceil }}"
            >
          Add to Cart
        </button>
      </div>
  </div>


    <div class="product--YAML col col-12 py2">
      <h2>You might also like</h2>
      <div class="col col-12 py3">

          {% for product in page.products %}
          {% assign product-title = product | downcase %}
                {% for site-product in site.products %}
          {% assign site-product-title = site-product.title | downcase %}
                {% if product-title == site-product-title  %}
                      <div class="product--list col col-12 sm-col-4 px1 pb3">
                        <a href="{{ site-product.url }}">
                          {% assign first-image = site-product.product-images | first %}
                          <div class="product--list__image" style="background-image: url({{ first-image }});"></div>
                          <p>{{ site-product.visible-title }}</p>
                          </a>
                      </div>
                    {% endif %}
                  {% endfor %}
            {% endfor %}

      </div>

    </div>

</div>
