---
layout: default
---

{% include components/hero.html %}
<div class="mx-auto max-width-4 clearfix py2">

    <div id="tabs">
          <input type="radio" name="tabs" id="toggle-tab1" checked="checked" />
          <label for="toggle-tab1">Tab 1</label>

          <input type="radio" name="tabs" id="toggle-tab2" />
          <label for="toggle-tab2">Tab 2</label>

          <div id="tab1" class="tab">
              {% assign sightings-sort = site.sightings | sort: "date" %}
                {% for sighting in site.sightings %}
                    {% assign today = "now" | date: "%s"%}
                    {% assign event-date = sighting.date | date: "%s" %}
                        {{ today | date: "%b %d %y"}}
                        <p>{{ sighting.date | date: "%b %d %y"}}</p>
                {% endfor %}
          </div>
          <div id="tab2" class="tab">
              {% assign sightings-sort = site.sightings | sort: "date"%}
                {% for sighting in sightings-sort reversed %}
                    {% assign today = "now" | date: "%s"%}
                    {% assign event-date = sighting.date | date: "%s" %}
                        {{ today | date: "%b %d %y"}}
                        <p>{{ sighting.date | date: "%b %d %y"}}</p>
            {% endfor %}
          </div>
    </div>



</div>



                        {% include components/sightings.html %}
