---
layout: default
---


{% include components/hero.html %}
<div class="mx-auto max-width-4 clearfix py2">

    <div id="tabs">
          <input type="radio" name="tabs" id="toggle-tab1" checked="checked" />
          <label for="toggle-tab1">Tab 1</label>

          <input type="radio" name="tabs" id="toggle-tab2" />
          <label for="toggle-tab2">Tab 2</label>

          <div id="tab1" class="tab">
              {% assign sightings-sort = site.sightings | sort:"date"  %}
                {% for sighting in sightings-sort %}

                {% assign today = site.time | date: "%d %m" %}
                {% assign event-time = sighting.start-date | date: "%d %m" %}

                    <p style="color: red">{{ today }}</p>
                    {{ event-time }}

                {% endfor %}
          </div>

          <div id="tab2" class="tab">
              Donec venenatis quam sit amet neque gravida, at commodo lacus gravida.
          </div>
    </div>



</div>
