---
layout: default
---

<div class="clearfix max-width-4 mx-auto team__wrap">

    {% assign team_sort = site.team | sort:"position" %}
    {% for team in team_sort limit:1 %}
    <div class="col col-12 sm-col-4 md-col-7 lg-col-7 px2">
        <div class="rachel--image cover" style="background-image: url({{ team.image }});"></div>
    </div>
    <div class="col col-12 sm-col-8 md-col-5 lg-col-5 px2 mt3">
        <section class="rachel">
            <p class="team-title">{{ team.team-title }}</p>
            <h1>{{ team.title }}</h1>
            <p> {{ team.content }}</p>
        </section>
    </div>
    {% endfor %}

    <div class="px2 team-desc">
        <h2>The Team</h2>
        <p>{{ content }}</p>
    </div>

        {% for team in team_sort offset:1 %}
        <section class="team sm-col sm-col-12 md-col-6 lg-col-6 px2">
            <div class="team--image" style="background-image: url({{ team.image }});">
            </div>
            <div class="team-details px2">
                <h2>{{team.title}}</h2>
                <strong>{{team.team-title}}</strong>
                <p> {{ team.content }}</p>
                <a href="{{ team.website }}" target="_blank" class="btn-prime">More Info</a>
                <!-- <div class="team-sm">
                    <i class="fa fa-facebook"></i>
                </div> -->
            </div>
        </section>
        {% endfor %}
</div>
