---
layout: default
---

<div class="clearfix max-width-4 mx-auto team__wrap">

    {% assign team_sort = site.team | sort:"position" %}
    {% for team in team_sort limit:1 %}
    <div class="col col-12 sm-col-4 md-col-7 lg-col-7 px2">
        <div class="rachel--image cover" style="background-image: url({{ team.image }});"></div>
    </div>
    <div class="col col-12 sm-col-8 md-col-5 lg-col-5 px2 mt3">
        <section class="rachel">
            <p class="team-title">{{ team.team-title }}</p>
            <h1 class="baffle-loader">{{ team.title }}</h1>
            <div class="team-sm">
                {% if team.website %}
                <a href="{{ team.website }}" target="_blank" class="sm-link team-sm__icon">
                    <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                </a>
                {% endif %}

                {% if team.facebook %}
                <a href="{{ team.facebook }}" target="_blank" class="sm-link team-sm__icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                {% endif %}

                {% if team.instagram %}
                <a href="{{ team.instagram }}" target="_blank" class="sm-link team-sm__icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                {% endif %}

                {% if team.twitter %}
                <a href="{{ team.twitter }}" target="_blank" class="sm-link team-sm__icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
            <p> {{ team.content }}</p>
        </section>
    </div>
    {% endfor %}

    <div class="px2 team-desc">
        <h2>The Team</h2>
        <p>{{ content }}</p>
    </div>

        {% for team in team_sort offset:1 %}
        <section class="team sm-col sm-col-12 md-col-6 lg-col-6 px2">
            <div class="team--image" style="background-image: url({{ team.image }});">
            </div>
            <div class="team-details px2">
                <h2>{{team.title}}</h2>
                <strong>{{team.team-title}}</strong>
                <div class="team-sm">
                    {% if team.website %}
                    <a href="{{ team.website }}" target="_blank" class="sm-link team-sm__icon">
                        <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if team.facebook %}
                    <a href="{{ team.facebook }}" target="_blank" class="sm-link team-sm__icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if team.instagram %}
                    <a href="{{ team.instagram }}" target="_blank" class="sm-link team-sm__icon">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if team.twitter %}
                    <a href="{{ team.twitter }}" target="_blank" class="sm-link team-sm__icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if team.dribbble %}
                    <a href="{{ team.dribbble }}" target="_blank" class="sm-link team-sm__icon">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </div>
                <p> {{ team.content }}</p>
                {% if team.entries %}
                    <a href="{{ team.url }}" target="_blank" class="btn-prime">Collaborations</a>
                {% endif %}

            </div>
        </section>
        {% endfor %}
</div>
